div.partnershipschools
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

  .contact-school
    margin: 20px
    position: relative

  a
    &:hover p, &:active p, &:focus p
      color: $gray-color
      transition: color .2s ease-in-out
    &:hover img, &:active img, &:focus img
      box-shadow: 0 0 10px $accent-color
      transition: box-shadow .2s ease-in-out

  img
    width: 200px
    background-color: #FFFFFF
    filter: grayscale(100%)
    &:hover
      filter: grayscale(30%)

  .banner
    position: absolute
    bottom: 0
    width: 100%
    background-color: $accent-color
    padding: 7px 0
    margin-bottom: -29px
    border-radius: 0 0 5px 0
    &::before
      content: ''
      height: 60px
      width: 10px
      position: absolute
      background-color: $accent-color
      left: -10px
      bottom: 0
      border-radius: 10px 0 0 10px
    p
      text-align: center
      margin: 0
      font-size: .8em
