.half-wrapper
  display: flex

.half-container
  flex-basis: 50%
  height: calc(100vh - 112px - 147px)
  background-position: center right
  background-size: cover
  background-repeat: no-repeat
  display: flex
  justify-content: center
  align-items: center


.primary
  background-image: url(/images/scitt21.jpg)
  .button
    background-color: $primary-color
    border-color: $primary-color-dark
    font-size: 1.2em
    margin: 40px 10px
    border-radius: 50px
    &:hover
      background-color: $primary-color-dark
      border: $primary-color-dark
  
.secondary
  background-image: url(/images/scitt06.jpg)
  .button
    background-color: $primary-color
    border-color: $primary-color-dark
    font-size: 1.2em
    margin: 40px 10px
    border-radius: 50px
    &:hover
      background-color: $primary-color-dark
      border: $primary-color-dark

.lower-wording-wrap
  padding: 20px
  background-color: $gray-color
  color: $font-lightcolor