// Header & Hero
.hero-container
  display: flex
  padding-bottom: 30px
.hero
  min-height: 500px
  height: 60vh
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 30px
  padding-bottom: 50px
  color: white
  background-color: $lightgraybg
  h1, h2, p
    padding-left: 30px
    margin-bottom: 0
    text-transform: capitalize
    font-weight: 900
    text-shadow: 3px 2px 2px #111
  h1, h2, h3
    font-size: 3.5em
  p
    font-size: 1.5em
.hp-hero-prim
  background-image: url("/images/scittapple.jpg")
  color: $accent-color
.hp-hero-sec
  background-image: url("/images/scitt05.jpg")
  color: $primary-color

#hp-qlandpromo
  .hp-slogan-container
    background-color: $primary-color
    .hp-slogan
      padding: 70px 40px 55px 40px
      text-align: center
      text-transform: capitalize
      font-size: 1.5em
      font-weight: 900
      color: lighten($font-color, 15)
      &>span a
        color: lighten($font-color, 20)
        font-weight: 400
        font-size: 80%
.quadbox-container > div img
  width: 355px
  height: 232.41px
