// Header & Hero
.hero-container
  display: flex
  padding-bottom: 30px
.hero
  min-height: 300px
  height: 60vh
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  padding-top: 30px
  padding-bottom: 50px
  color: white
  background-color: $lightgraybg
  h1, h2, p
    padding-left: 30px
    margin-bottom: 0
    text-transform: capitalize
    font-weight: 700
    text-shadow: 3px 2px 2px #111
  h1, h2, h3
    font-size: 5em
  p
    font-size: 2em
.hp-hero-prim
  background-image: url("http://lorempixel.com/920/400/business/9")
  color: $accent-color
.hp-hero-sec
  background-image: url("http://lorempixel.com/920/400/business/10")
  color: $primary-color

#hp-qlandpromo
  .hp-slogan-container
    background-color: $primary-color
  .hp-slogan
    padding: 70px 40px
    text-align: center
    text-transform: capitalize
    font-size: 1.5em
    font-style: 700
    color: lighten($font-color, 15)
