// Varibles - Branding Presets
$primary-color: #51BDEB
$accent-color: #FEB348
$gray-color: #474747
$lightgraybg: #EEEEEE
$font-stack: 'Roboto', sans-serif
$font-color: #111111
$lfont-color: lighten($font-color, 60)
