// Varibles - Branding Presets
$body-color: #F5F5F5
$primary-color: #18A0DA
$primary-color-dark: #0f80b0
$secondary-color: #9E1A56
$secondary-color-dark: #781341
$accent-color: #9E1A56
$accent-color-dark: #781341
$gray-color: #474747
$lightgraybg: #EEEEEE

$font-stack: 'Roboto', sans-serif
$font-color: #111111
$font-lightcolor: #FFFFFF
$font-footer: #E1E1E1

// Varible based Styles
.font-light
	color: $font-lightcolor
.font-dark
	color: $font-color
.font-brand
	color: $secondary-color